@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <div class="jumbotron">
    <h1>Hair Salon Database</h1>
  </div>
  <form action="/home/stylists/add" method="post">
    <label for="stylistName">Stylist Name: </label>
    <input id="stylistName" name="stylistName" type="text">
    <button type="submit" class="btn btn-success">Add Stylist</button>
  </form>
  <br>
  <div class="table-container">
    <table class="table stylist-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Number of Clients</th>
          <th scope="col">Add Client</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var stylist in Model)
        {
          <tr>
            <th scope="row">@stylist.GetId()</th>
            <td>@stylist.GetName()</td>
            <td>@stylist.NumberOfClients()</td>
            <!-- <td><a href="home/stylists/@stylist.GetId()/client/add" class="btn btn-danger">Add Client</a></td> -->
            <td><button class="btn btn-info" id="addClientButton" data-toggle="modal" data-target="#@stylist.GetId()" data->Add Client</button></td>
            <td><a href="home/stylists/@stylist.GetId()/delete" class="btn btn-danger">Delete</a></td>
          </tr>

          <!-- MODAL FOR ADDING CLIENTS -->
          <div class="modal-container">
            <!--Modal for 'Add Clients'-->
            <div class="modal fade" id=@stylist.GetId() tabindex="-1" role="dialog" aria-labelledby="addClientLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addClientLabel">Add Client For @stylist.GetName()</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/home/stylists/client/add" method="post">
                      <div class="form-group">
                        <input type="hidden" id="stylistId" name="stylistId" value=@stylist.GetId()>
                        <label for="clientName">Client Name: </label>
                        <input type="text" id="clientName" class="form-control" name="clientName">
                      </div>
                      <button type="submit" class="btn btn-info">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </tbody>
    </table>
  </div>

  

</div>
